<h1><%=  @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.address %></li>
  <% unless @restaurant.phone_number == nil %>
    <li><%= @restaurant.phone_number %></li>
  <% end %>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to "Go back to All Restaurants", restaurants_path %>
